.pending {
  background-color: transparent;
  animation: go-animation 5s linear forwards;
}

@keyframes go-animation {
  0% {
    transform: translateX(0vw);
  }
  28.57% {
    /* 近似值，实际是2/7=0.285714 */
    transform: translateX(25vw);
  }
  100% {
    transform: translateX(50vw);
  }
}
